.project {
  height: 100%;

  @at-root {
    &-board {
      height: 100%;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
    }

    &-line {
       height: 100%;
       box-sizing: border-box;
       white-space: nowrap;
       display: inline-block;
       margin: 20px 5px;
       width: 300px;
       vertical-align: top;

       &-container {
         background-color: $gray;
         border-radius: 5px;
         border: 1px solid $little-dark-gray;
       }

       &-title {
         padding: 10px;

         &-text {
           margin: 0;
         }
       }

       &-list {
         padding: 10px;

         &-item {
           background-color: #fff;
           border: 1px solid $little-dark-gray;
           border-radius: 5px;
           min-height: 20px;
           margin-bottom: 6px;
           padding: 8px;
           display: block;
           cursor: pointer;

           &-badges {
             margin-top: 5px;
           }

           &-badge {
             margin-right: 5px;
           }
         }
       }

       &-add-link {
         display: block;
         cursor: pointer;
         margin-top: 5px;
         padding: 0 8px 8px 8px;

         &:hover {
           text-decoration: underline;
         }
       }
     }
  }
}
