<h1>Users#dashboard</h1>
<p>Find me in app/views/users/dashboard.html.erb</p>

<p><%= link_to "log out", destroy_user_session_path, method: :delete %></p>
<p><%= link_to "Profile Edit", edit_user_path(current_user) %></p>
