<div class="devise">
  <div class="devise-box">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="siimple-form-field">
        <%= f.label :email, class: 'siimple-form-field-label' %><br />
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          class: 'siimple-input devise-input',
                          placeholder: 'taro@example.com' %>
      </div>

      <div class="devise-actions">
        <%= f.submit "Send me reset password instructions", class: 'siimple-btn siimple-btn--blue' %>
      </div>
    <% end %>

    <%#= render "users/shared/links" %>
  </div>
</div>
