<% content_for :loading_vuejs do %>
  <%= javascript_pack_tag 'views/taskboard' %>
<% end %>

<div id="js-task-board" class="project">
  <div class="project-board">
    <div class="project-line" v-for="line in project">
      <div class="project-line-container">
        <div class="project-line-title">
          <h3 class="project-line-title-text">{{ line.name }}</h3>
        </div>

        <div class="project-line-list">
          <draggable :options="options" element="div" v-for="task in line.tasks">
            <a class="project-line-list-item">
              <div class="project-line-list-item-detail">
                {{ task.content }}<br />
                <div class="project-line-list-item-badges">
                  <span class="fa fa-edit project-line-list-item-badge"></span>
                  <span class="fa fa-trash project-line-list-item-badge"></span>
                </div>
              </div>
            </a>
          </draggable>
        </div>
        <a class="project-line-add-link">タスク追加</a>
      </div>
    </div>
  </div>
</div>
